IndentWidth: 4
SpaceBeforeParens: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
IndentCaseLabels: true
SortIncludes: Never
AlignConsecutiveAssignments:
  Enabled: true
AlignEscapedNewlines: Left
