element {
    border:  0;
    padding: 5px;
}

element-icon {
    size: 24px ;
    background-color: inherit;
}

element selected {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
}

element normal,
element alternate normal {
    background-color: @element-bg;
    text-color:       @element-fg;
}

element selected normal {
    background-color: @selected-bg;
    text-color: @selected-fg;
}
